<!DOCTYPE html>
<html>
  <head>
    <title>Rails_Todo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1 class="title"><%= link_to "Todoアプリケーション", root_path %></h1>
    
    <div id="wrapper">
      <header>
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <%= link_to '新しいTodo',  new_todo_path, { :class => 'nav-link active show', data: { toggle:"tab" } } %>
          </li>
          <li class="nav-item">
            <%= link_to 'カテゴリ−', categories_path, { :class => 'nav-link', data: { toggle:"tab" }  }  %>
          </li>
          <li class="nav-item">
            <%= link_to '新しいカテゴリー', new_category_path, { :class => 'nav-link',  data: { toggle:"tab" } } %>
          </li>
        </ul>
      </header>
      <%= yield %>
    </div>

  </body>
</html>
